body, html {
	background-color:#EFEFEF;
	margin: 0;
}

.navbar {
	background-color: #444444;
	height: 100px;
}

.laside {
	background-color: #D8D8D8;
	float: left;
	height: 700px;
	width: 15%
}
.center {
	background-color: #EFEFEF;
	float: left;
	width: 70%
}
.raside {
	background-color: #D8D8D8;
	float: right;
	height: 700px;
	width: 15%;
}

.footer {
	background-color: #222222;
	height: 50px;
	width: 100%;
	margin-top: 650px;
}